/* #banner */
#banner{
  min-width: 1300px;
  /* 어두운 색으로 그라디언트를 넣어 배경이미지를 어둡게 설정 */
  background:linear-gradient(0deg,#00000088 ,#00000088), url(../img/banner.jpg) center/cover ;
  padding:100px 0;
  text-align: center;
  color:#fff;
}

#banner > h1{
  font-size: 36px;
  font-weight:500;
  margin-bottom: 20px;
}
#banner > p{
  line-height: 1.7;
}

/* numbers */

#numbers{
  min-width:1300px;
  background-color: #10c9c3;
}

#numbers > .wrap{
  padding:100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
}

#numbers .box{
  width:25%;
  display:flex;
  justify-content: center;
  border-right:2px solid #fff;
}

#numbers .box:first-child{
  border-left:2px solid #fff;
}

#numbers .box > p{
  margin-left:20px;
  font-size:12px;
}

#numbers .box > p >b{
  font-size:16px;
}

/* about */
#about{
  min-width:1300px;
  background-color: #f5f5f5;
}
#about > .wrap{
  display: flex;
}

#about > .wrap > div{
  width:50%;
  height:520px;
}

#about .largeimg{
  background:url(../img/about_me.jpg);
}

#about .txt{
  padding:120px 100px;
}

#about .txt h1{
  font-size: 28px;
}

#about .txt p{
  font-size: 14px;
  color:#787878;
  margin:20px 0;
}

#about .txt img{
  margin-top:20px;
}

/* project */

#project{
  text-align: center;
  padding: 80px 0;
}
#project > h1{
  font-size:28px;
}

#project >p{
  color:#787878;
  font-size:14px;
  margin:20px 0 40px;
}

#project button{
  width:170px;
  height:50px;
  background-color: #10c9c3;
  outline:none;
  border:none;
  color:#fff;
  font-weight: bold;
  cursor:pointer;
}